@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);















#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
}
#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-3 .link {
  font-size: 1rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #141414;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-8 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header3-14 .mbr-section-title,
#header3-14 .mbr-section-subtitle {
  text-align: center;
}
#header3-14 H3 {
  font-family: 'Open Sans', sans-serif;
}
#features1-9 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-9 H4 {
  font-family: 'Open Sans', sans-serif;
}
#header3-15 .mbr-section-title,
#header3-15 .mbr-section-subtitle {
  text-align: center;
}
#header3-15 H3 {
  font-family: 'Open Sans', sans-serif;
}
#features4-17 .card-subtitle {
  color: #7c706b;
}
#features4-17 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#testimonials4-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header4-5 P {
  text-align: right;
}
#header4-5 H1 {
  text-align: left;
}
#header4-5 .mbr-section-lead SPAN {
  font-size: 13px;
}
#header4-5 .mbr-section-lead {
  font-size: 22px;
}
#header4-5 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header3-16 .mbr-section-title,
#header3-16 .mbr-section-subtitle {
  text-align: center;
}
#header3-16 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header4-8 .mbr-section-lead {
  font-size: 22px;
}
#header4-8 .mbr-section-title {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-0 .mbr-plan-header,
#pricing-table2-0 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-0 ul,
#pricing-table2-0 .mbr-plan-title,
#pricing-table2-0 .mbr-price-value,
#pricing-table2-0 .mbr-price-figure,
#pricing-table2-0 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-0 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-0 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-0 .mbr-plan-title {
  font-size: 18px;
}
#pricing-table2-0 .mbr-section__container .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-0 .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-0 .mbr-section-subtitle {
  color: #a0a0a0;
  font-size: 17px;
}
#content5-10 .mbr-section-title,
#content5-10 p {
  color: #fff;
}
#social-buttons4-16 .mbr-section-title,
#social-buttons4-16 .btn-social {
  color: #fff;
}
#social-buttons4-16 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #141414;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #141414;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #141414;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #141414;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
