@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



























#header1-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header1-0 .mbr-section-lead {
  font-family: 'Lora', serif;
}
#header1-0 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 SMALL {
  text-align: right;
  font-family: 'Lora', serif;
}
#header3-0 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}
#content1-0 P {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-1 SMALL {
  font-family: 'Lora', serif;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#header3-2 .mbr-section-title,
#header3-2 .mbr-section-subtitle {
  text-align: center;
}
#header3-2 H3 {
  font-family: 'Oswald', sans-serif;
}
#features4-0 .card-subtitle {
  color: #7c706b;
}
#features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-0 H4 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-3 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-0 P {
  text-align: right;
}
#header4-0 H1 {
  text-align: left;
}
#header4-0 .mbr-section-lead SPAN {
  font-size: 13px;
}
#header4-0 .mbr-section-lead {
  font-size: 22px;
}
#header4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-1 .mbr-section-lead {
  font-size: 22px;
}
#header4-1 .mbr-section-title {
  text-align: right;
  font-family: 'Oswald', sans-serif;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content5-0 .mbr-section-title,
#content5-0 p {
  color: #fff;
}
#content5-0 .mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
























#header1-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header1-0 .mbr-section-lead {
  font-family: 'Lora', serif;
}
#header1-0 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 SMALL {
  text-align: right;
  font-family: 'Lora', serif;
}
#header3-0 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}
#content1-0 P {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-1 SMALL {
  font-family: 'Lora', serif;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#header3-2 .mbr-section-title,
#header3-2 .mbr-section-subtitle {
  text-align: center;
}
#header3-2 H3 {
  font-family: 'Oswald', sans-serif;
}
#features4-0 .card-subtitle {
  color: #7c706b;
}
#features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-0 H4 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-3 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-0 P {
  text-align: right;
}
#header4-0 H1 {
  text-align: left;
}
#header4-0 .mbr-section-lead SPAN {
  font-size: 13px;
}
#header4-0 .mbr-section-lead {
  font-size: 22px;
}
#header4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-1 .mbr-section-lead {
  font-size: 22px;
}
#header4-1 .mbr-section-title {
  text-align: right;
  font-family: 'Oswald', sans-serif;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content5-0 .mbr-section-title,
#content5-0 p {
  color: #fff;
}
#content5-0 .mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
























#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#header1-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header1-0 .mbr-section-lead {
  font-family: 'Lora', serif;
}
#header1-0 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 SMALL {
  text-align: right;
  font-family: 'Lora', serif;
}
#header3-4 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}
#content1-0 P {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-0 SMALL {
  font-family: 'Lora', serif;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  font-family: 'Oswald', sans-serif;
}
#features4-0 .card-subtitle {
  color: #7c706b;
}
#features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-0 H4 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-3 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-0 P {
  text-align: right;
}
#header4-0 H1 {
  text-align: left;
}
#header4-0 .mbr-section-lead SPAN {
  font-size: 13px;
}
#header4-0 .mbr-section-lead {
  font-size: 22px;
}
#header4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header3-2 .mbr-section-title,
#header3-2 .mbr-section-subtitle {
  text-align: center;
}
#header3-2 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-1 .mbr-section-lead {
  font-size: 22px;
}
#header4-1 .mbr-section-title {
  text-align: right;
  font-family: 'Oswald', sans-serif;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content5-0 .mbr-section-title,
#content5-0 p {
  color: #fff;
}
#content5-0 .mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}




















#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#header1-0 .btn {
  font-family: 'Oswald', sans-serif;
}
#header1-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  font-family: 'Oswald', sans-serif;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#header3-2 .mbr-section-title,
#header3-2 .mbr-section-subtitle {
  text-align: center;
}
#header3-2 H3 {
  font-family: 'Oswald', sans-serif;
}
#features4-0 .card-subtitle {
  color: #bcbcbc;
}
#features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-0 H4 {
  font-size: 25px;
}
#index-pricing-table2-1 .mbr-plan-header,
#index-pricing-table2-1 .mbr-plan-body {
  background-color: #f4f4f4;
}
#index-pricing-table2-1 ul,
#index-pricing-table2-1 .mbr-plan-title,
#index-pricing-table2-1 .mbr-price-value,
#index-pricing-table2-1 .mbr-price-figure,
#index-pricing-table2-1 .mbr-price-term {
  color: #28262b;
}
#index-pricing-table2-1 .mbr-plan {
  border-color: #e8e8e8;
}
#index-pricing-table2-1 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#index-pricing-table2-1 .mbr-price-figure {
  font-size: 36px;
}
#index-pricing-table2-1 .mbr-section__container .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#index-pricing-table2-1 .mbr-plan-title {
  font-size: 18px;
}
#index-pricing-table2-1 .mbr-price-term {
  font-size: 16px;
}
#index-pricing-table2-1 .mbr-price-figure B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-3 H3 {
  font-family: 'Oswald', sans-serif;
}
#header4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 H3 {
  font-family: 'Oswald', sans-serif;
}
#features6-0 H4 {
  color: #7c706b;
}
#header4-1 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header4-1 .mbr-section-lead {
  text-align: left;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content5-0 .mbr-section-title,
#content5-0 p {
  color: #fff;
}
#content5-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}








#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#msg-box8-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}








#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#msg-box8-0 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 STRONG {
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
}
#contacts1-0 P {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
#contacts1-0 B {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#footer1-0 P {
  font-family: 'Oswald', sans-serif;
}
